 /* WHATSAPP POPUP */

 .whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  justify-content: center;
    align-items: center;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-icon {
  justify-content: center;
}

 
 
 /* NAVBAR */
 
 .nav-txt {
    color: #4A5568;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
  }

  .nav-txt:hover{
    color: rgba(16, 185, 129);
  }

  .nav-txt {
    &::after {
      content: "";
      border-bottom: solid 4px rgba(16, 185, 129);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s;
    }
  
    &:hover {
      &::after {
        transform-origin: right;
        transform: scaleX(1);
      }
    }
  
    @keyframes nav-txt {
      from {
        transform: scaleX(0);
      }
      to {
        transform: scaleX(1);
      }
    }
  }

  .nav-bk-btn:hover{
    color:white;
    background-color: rgba(52, 211, 153);
  }


  /* HOME SECTION */

  .home-arrow{
    height: 100px;
  }

  .explr-btn:hover{
    color:white;
    background-color: rgba(52, 211, 153);
  }

  /* ABOUT SECTION */

  @media (min-width: 768px) {
    .about-arrow{
      height: 50px;
    }
  }

  @media (min-width: 1024px) {
  .about-arrow{
    height: 80px;
  }
}

@media (min-width: 1536px) {
    .about-arrow{
      height: 150px;
    }
  }

/* PACKAGE */

/* .course-card:hover{
    border-color: rgba(52, 211, 153);
    box-shadow:  0 4px 8px rgba(52, 211, 153);
} */

/* FOOTER */

.contact-txt {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
  }

  .contact-txt:hover{
    color: rgba(16, 185, 129);
  }

  .contact-txt {
    &::after {
      content: "";
      border-bottom: solid 4px rgba(16, 185, 129);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s;
    }
  
    &:hover {
      &::after {
        transform-origin: right;
        transform: scaleX(1);
      }
    }
  
    @keyframes contact-txt {
      from {
        transform: scaleX(0);
      }
      to {
        transform: scaleX(1);
      }
    }
  }

.site-txt {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
  }

.site-txt:hover{
    color: rgba(16, 185, 129);
}

.site-txt {
    &::after {
      content: "";
      border-bottom: solid 4px rgba(16, 185, 129);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s;
    }
  
    &:hover {
      &::after {
        transform-origin: right;
        transform: scaleX(1);
      }
    }
  
    @keyframes site-txt {
      from {
        transform: scaleX(0);
      }
      to {
        transform: scaleX(1);
      }
    }
  }